html, body {
    background-color: #181818;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 160;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 64px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.slogan {
  font-size: 30px;
  font-style: inherit;
}

footer{
    background: 181818;
    padding: 20px;
    text-align: center;
}

.bc image{

    background-repeat: no-repeat;
    background-attachment: fixed;

}

.wrapper {
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
  }
  
  /* create pizza form */
  .create-pizza {
    background: #181818;
    padding: 20px;
  }
  .create-pizza label, .create-pizza select {
    display: block;
    border: 0;
  }
  .create-pizza label {
    margin-top: 30px;
  }
  .create-pizza select {
    padding: 8px;
    width: 200px;
  }
  .create-pizza input[type=checkbox] {
    margin: 10px;
  }
  .create-pizza input[type=submit] {
    background: #ffc011;
    padding: 8px 20px;
    color: #181818;
    font-weight: bold;
    border: 0;
    margin-top: 20px;
  }

  .create-pizza fieldset{
    border: 0;
  }
  
  /* pizza details page */
  .pizza-details {
    background: #181818;
    padding: 20px;
  }
  .pizza-details p {
    margin: 20px 0;
    font-weight: bold;
  }
  .pizza-details button {
    background: #ffc011;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
  }
  
  a.back {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #ffc011;
    margin-bottom: 20px;
  }
  
  /* pizza index page */
  .pizza-index h1 {
    margin-bottom: 40px;
  }
  .pizza-index .pizza-item {
    margin: 10px 0;
    padding: 12px;
    background: #181818;
  }
  .pizza-index .pizza-item img {
    width: 60px;
    display: inline-block;
  }
  .pizza-index .pizza-item h4 {
    display: inline-block;
    font-weight: normal;
    margin-left: 20px;
  }
  .pizza-index .pizza-item h4 a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
  }
